@model Message 

@{
    string title = ViewBag.Action + " Message";
    ViewData["Title"] = title;
}
<h2>@ViewData["Title"]</h2>

<div class="container">
    <form asp-action="Edit" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <label asp-for="SenderId" class="col-sm-1 form-label">Sender</label>
            <div class="col-sm-3">
                <select asp-for="SenderId" class="form-select" required>
                @foreach (AppUser a in ViewBag.AppUsers)
                {
                    <option value="@a.AppUserId">@a.Name</option>
                }
                </select>
                <br />
            </div>
        </div>

        <div class="row">
            <label asp-for="RecipientId" class="col-sm-1 form-label">Recipient</label>
            <div class="col-sm-3">
                <select asp-for="RecipientId" class="form-select" required>
                @foreach (AppUser a in ViewBag.AppUsers)
                {
                    <option value="@a.AppUserId">@a.Name</option>
                }
                </select>
                <br />
            </div>
        </div>

        <div class="row">
            <label asp-for="Subject" class="col-sm-1 form-label">Subject</label>
            <div class="col-sm-3">
                <input asp-for="Subject" name="Subject" class="form-control" /><br />
            </div>
        </div>

        <div class="row">
            <label asp-for="Content" class="col-sm-1 form-label">Content</label>
            <div class="col-sm-4">
                <textarea asp-for="Content" name="Content" class="form-control" rows="3" required></textarea>
            </div><br />
        </div>

        @* padding *@
        <div class="row pt-4">
            <label asp-for="Priority" class="col-sm-1 form-label">Priority</label>
            <div class="col-sm-2">
                <input asp-for="Priority" name="Priority" class="form-control" min="1" max="5"/><br />
            </div>
        </div>

        <input type="hidden" asp-for="MessageId" />

        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-controller="Messages" asp-action="Index" class="btn btn-primary">Cancel</a>
    </form>
</div>