@model List<Message>
@{
    ViewData["Title"] = "Messages";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <a asp-controller="Messages" asp-action="Message">Write a Message</a>
</div>
<div class="d-flex flex-column justify-content-center align-items-center">
    <span class="mt-3">Filter Messages</span>
    <div class="card mb-1" style="background-color: rgba(0,0,0,0)">
        <form method="post" action="/Messages/Filter" class="d-flex flex-column">
            <input class="me-1 flex-" name="sender" placeholder="Sender" style="text-align: center"/>
            <input class="me-1" type="date" name="date" placeholder="Select" style="text-align: center"/>
            <div class="d-flex justify-content-between mt-1">
                <button class="btn-primary me-1 w-50" type="submit">Search</button>
                <button class="btn-primary me-1 w-50" type="submit" formaction="/Messages">Reset</button>
            </div>
        </form>
    </div>
    @if (Model != null)
    {
        @foreach (var message in Model)
        {
            <div class="card mb-2">
                <div class="d-flex flex-column">
                    <span>
                        To: @message.Sender.UserName&nbsp;&nbsp;&nbsp;&nbsp;
                        From: @message.Recipient.UserName
                    </span>
                    <spam>@message.Subject</spam>
                    <span><textarea>@message.Content</textarea></span>
                    <span>
                        @message.TimeSent&nbsp;|
                        Priority: @message.Priority
                    </span>
                </div>
            </div> 
        }
    }
    else
    {
        <p>There are no messages.</p>
    }
</div>