@model List<Message>
@{
    ViewData["Title"] = "Messages";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <a asp-controller="Messages" asp-action="Add">Write a Message</a>
</div>
<h4>Posted Messages</h4>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Sender</th>
            <th>Recipient</th>
            <th>Subject</th>
            <th>Content</th>
            <th>Time Sent</th>
            <td>Priority</td>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count != 0)
        {
            @foreach (var message in Model)
            {   // fix to show sender/recipient names instead of ids
                <tr>
                    <td>@message.SenderId</td>
                    <td>@message.RecipientId</td>
                    <td>@message.Subject</td>
                    <td>
                        <textarea>@message.Content</textarea>
                    </td>
                    <td>@message.TimeSent</td>
                    <td>@message.Priority</td>
                    <td>
                        <a asp-controller="Movie" asp-action="Edit" asp-route-id="@message.MessageId">Edit</a>
                        <a asp-controller="Movie" asp-action="Delete" asp-route-id="@message.MessageId">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <p>There are no messages.</p>
        }
    </tbody>
</table>

@* @if (Model.Content != null)
{
    <p>
        Sender: @Model.Sender.Name <br />
        Recipient: @Model.Recipient.Name <br />
        Subject: @Model.Subject <br />
        Text: @Model.Content <br />
        Priority: @Model.Priority <br />
        Time sent: @Model.TimeSent
    </p>
}
else
{
    <p>There are no messages.</p>
} *@