@model List<Message>
@{
    ViewData["Title"] = "Messages";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <a asp-controller="Messages" asp-action="Message">Write a Message</a>
</div>
Filter Messages:
<div class="d-flex align-items-center mb-2 mt-2">
    <form method="post" action="/Messages/Filter" class="d-flex">
        <input class="me-1" name="sender" placeholder="Sender"/>
        <input class="me-1" type="date" name="date" placeholder="Select"/>
        <button class="btn-primary me-1" type="submit">Submit</button>
    </form>
    <form method="post" action="/Messages" class="d-flex">
        <button class="btn-primary" type="submit">Clear Filters</button>       
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Sender</th>
            <th>Recipient</th>
            <th>Subject</th>
            <th>Content</th>
            <th>Time Sent</th>
            <td>Priority</td>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var message in Model)
            {
                <tr>
                    <td>@message.Sender.UserName</td>
                    <td>@message.Recipient.UserName</td>
                    <td>@message.Subject</td>
                    <td>
                        <textarea>@message.Content</textarea>
                    </td>
                    <td>@message.TimeSent</td>
                    <td>@message.Priority</td>
                </tr>
            }
        }
        else
        {
            <p>There are no messages.</p>
        }
    </tbody>
</table>