@using MyCommunitySite.Models.ViewModels;﻿
@model AppUserVM
@{

    ViewData["Title"] = " | Manage Users";
}
<div class="d-flex justify-content-between align-items-center mb-2">
    <h1>Manage Users</h1>
    <h5><a asp-action="Add">Add a User</a></h5>
</div>

@if (Model.Users.Count() == 0)
{
    <tr><td colspan="5">There are no user accounts.</td></tr>
}

else
{
    @foreach (AppUser user in Model.Users)
    {
        <div class="card mb-1">
            <span><label class="fw-bold">Username:</label>@user.UserName</span>
            <div><label class="fw-bold">Roles:</label>
                @if (user.UserRoles.Any()){
                    <span>
                        @foreach (string roleName in user.UserRoles)
                        {
                            @roleName
                        }&nbsp;|
                    </span>
                }
                else{
                    <span>None</span>
                }
            </div>

            <div class="d-flex justify-content-between">
                <form method="post" asp-action="Delete" asp-route-id="@user.Id">
                    <button type="submit" class="btn btn-primary me-1"> Delete</button>
                </form>

                <form method="post" asp-action="AddToAdmin" asp-route-id="@user.Id">
                    <button type="submit" class="btn btn-primary me-1">Add Admin</button>
                </form>

                <form method="post" asp-action="RemoveFromAdmin" asp-route-id="@user.Id">
                    <button type="submit" class="btn btn-primary">Remove Admin</button>
                </form>
            </div>
        </div>
    }
}

<h1 class="text-white">Manage Roles</h1>
<div class="card">
    <div class="d-flex justify-content-between align-items-center">
        @if (Model.Roles.Count() == 0)
        {
            <form method="post" asp-action="CreateAdminRole">
                <button type="submit" class="btn btn-primary"> Create Admin Role</button>
            </form>
        }
        else
        {
            @foreach (var role in Model.Roles)
            {
                <span class="fw-bold">@role.Name</span>
                <form method="post" asp-action="DeleteRole" asp-route-id="@role.Id">
                    <button type="submit" class="btn btn-primary"> Delete Role</button>
                </form>
            }
        }
    </div>
</div>